.DS_Store
project2/.elasticbeanstalk
project1/.DS_Store
project2/.DS_Store
project2/src/.DS_Store
project2/node_modules
project2/.elasticbeanstalk/*
project2/www
project2/src/util/.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
project1/udacity-starter-website/vendor/fontawesome-free/.DS_Store
.gitignore
project1/udacity-starter-website/vendor/.DS_Store
project1/udacity-starter-website/.DS_Store
